<p style="color: green"><%= notice %></p>
<div class="container">
  <%= render @group %>
  <div>
    <%= link_to "Edit this group", edit_group_path(@group) %> |
    <%= link_to "Back to groups", groups_path %> | 
    <% if @group.joinable %> <%= button_to "Join Group", "/groups/add_member(#{current_user.id})" %> | <% end %> 
    <%= button_to "Destroy this group", @group, method: :delete %>
  </div>
</div>