<div id="<%= dom_id piece %>">
  <p>
    <strong>Title:</strong>
    <%= piece.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= piece.composer %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= piece.genre %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= piece.length %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= piece.publisher %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= piece.isbn %>
  </p>

</div>
